@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.container-lanches>ul{
    width: 50vw;
    height: 30vh;
    margin-left: 10vw;
   
}
h2{
    font-family: 'Quicksand', sans-serif;
    color: blue;
    font-weight: 900;
    letter-spacing: 2px;

    margin-top: 30px;
    margin-left: 50px;
    font-size:24px;

}
.pizzas{
    bottom: -799px;

    position: absolute;
    left: 1114px;
   
}
.container-lanches>.dica{
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

ul{list-style: none;}
li{
    width: 50vw;
    height: calc(30vh/5);
    overflow: hidden;
}
li>header{
    padding-top: 9px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 38px;
    width: 87%;
}
li>p{
    margin-left: 4.2vw;
    flex-wrap: wrap;
    
    font-size: 14px;
    color: var(--color-p);
}



.menu-pizzas{
       margin-left: 6%;
}
.menu-lanches,.menu-pizzas h3{
    color: var(--color-font);
    font-family: 'Nunito', sans-serif;
}
.menu-lanches ,.menu-pizzas h4{
    font-family: 'Quicksand', sans-serif;
    
}

.menu-pizzas>li{
    background-image: url("/img/italia.png"); 
    background-size: cover;
}
.menu-lanches>li:hover,.menu-pizzas>li:hover{
    overflow: visible;
    height: auto;
    letter-spacing: 2px;
}

.pao{
    background-color: rgb(233,209,154);
}
.salada{
    background-color: rgb(71, 171, 71);
}
.carne{
    background-color: rgb(209 158 87);
}
.queijo{
    background-color: rgb(244,211,68);
}
.tomate{
    background-color: tomato;
}


